.feature-container {
  padding: 40px;
  text-align: center;
}
 
.feature-head {
  font-size: 44px;
  color: #333;
  margin-bottom: 20px;
  margin: 40px;
  margin-top: 20px;
}
 
.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
 
.feature-tile-even {
    background-color: white;
    border: 0px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 320px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: .75rem .75rem .2rem #4c77e336;
    border: 1px solid #80D6EC;
  }
  
  .feature-tile-odd {
    background-color: white;
    border: 0px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 320px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: .75rem .75rem .2rem #4c77e336;
    border: 1px solid #80D6EC;
  }
 
.feature-tile-even:hover {
    transform: scale(1.03) translateY(-20px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .feature-tile-odd:hover {
    transform: scale(1.03) translateY(-20px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
 

.feature-icon img {
  width: 100%;
  height: 100%; /* Adjust based on your image aspect ratios */
  object-fit: cover;
}
/* .feature-tile-odd:hover .feature-icon img{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.feature-tile-even:hover .feature-icon img{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
} */
 
.feature-info {
  padding: 20px;
 
 
}
 
.feature-info h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
 
.feature-info p {
  font-size: 13px;
  color: #666;
  width: 90%;
  margin: auto;
  text-align: center;
}